.navBar{
height: 50px;
background-color: maroon;
margin-left: 20px;
margin-right: 20px;
position: sticky;
top:15px;
z-index: 100;
}

.navList{
    list-style-type: none;
}

.navItem a{
    color:white;
    float: left;
    padding: 10px;
}

.navItem a:hover{
        text-decoration: none;
        cursor: pointer;
        color: rgb(197, 74, 52);
}
.navItem a:active{
    font-weight: bold;
}

.selected{
    background-color: gray;
    height: 50px;
}


.logout{
    float: right;
    margin-right: 10px;
    margin-top:6px
}
