
.chat-box{
    height: 400px;
    border: 1px solid goldenrod;
    border-radius: 2%;
    overflow-y: auto;
}

.input-box{
    display: inline-block;
    width: 70%;
    margin-right: 20px;
    margin-left: 2px;
}
